# Assigning ownership for specific files or directories
# Syntax: <file or directory path> <GitHub username or team>

# Assigning ownership for all files in a directory
# Syntax: <directory path>/* <GitHub username or team>

# Assigning ownership for all files in a repository
# Syntax: * <GitHub username or team>

* @red-hat-data-services/administrators

/config/organization_members.yaml @red-hat-data-services/administrators @red-hat-data-services/org-membership-maintainers